#footer {
  #footer-container {
    margin-top: 4px;
    #copyright {
      font-size: x-small;
      margin-left: 10px;
    }
    #about-link {
      float: right;
      margin-right: 10px;
      text-decoration: none;
      color: black;
    }
  }
}
