#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  #footer-container {
    display: contents;
    #copyright {
      font-size: x-small;
    }
    #about-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
    }
  }
}
