$submit-margins: 20px 5% 10px 5%;

#login-div {
  max-width: 450px;
  margin: auto;
}

form {
  #label {
    font-size: 25px;
    margin: 10px;
    position: relative;
    top: 8px;
  }

  .login-field {
    width: 90%;
    margin: 20px 5% 0px 5%;
  }

  #submit {
    margin: $submit-margins;
  }
}
.create-account-field {
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: lightgrey;
  margin: $submit-margins;
  display: flex;
  justify-content: center;
  legend {
    text-align: center;
    color: grey;
  }
  #btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
