/*
=============== 
Variables
===============
*/

/* :root {

} */

html {
  position: relative;
  min-height: 100%;
  width: auto;
  height: auto;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  width: auto;
}

.right {
  justify-content: flex-end !important;
}

.left {
  justify-content: flex-start !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 35px; /* Set the fixed height of the footer here */
  line-height: 35px; /* Vertically center the text there */
}

.nav-link {
  display: flex;
  margin-left: 30px;
  // margin-top: 300px;
  color: white !important;
  text-decoration: none;
}

.nav-link-dropdown {
  display: flex;
  // margin-left: 30px;
  // margin-top: 300px;
  color: rgb(28, 28, 28) !important;
  text-decoration: none;
}

.nav-bg {
  background-color: rgba(155, 169, 227, 0.5) !important;
}

#app-display {
  padding: 0 45px;
  margin: 48px 0 0 0;
  display: block;
}

.nav-link--textcolor {
  color: white !important;
  text-decoration: none;
}

.nav-bg--color {
  background-color: rgba(104, 29, 29, 0.5) !important;
}

.nav-link {
  color: rgba(104, 29, 29, 0.5);
}

#logo {
  width: 10%;
}

li {
  list-style-type: none;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  p {
    font-weight: bold;
    /* color: hsl(209, 61%, 16%); */
  }

  /* a {
  color: hsl(209, 34%, 30%);
  } */
}

.teamCard {
  border: solid #343a40 2px;
  border-radius: 30px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 10px 0 0 0;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;

  img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: -1px;
  }
}

@media screen and (max-width: 576px) {
  .teamContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .teamCard {
    width: 200px;
  }
}
